body{
    margin: 0;
}

html{
    margin-top: 0;
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    font-size: 20px;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding-right: 150px;
    font-family: fantasy;
}

.opcoes{
   
    display: flex;
    position: relative;
}

.logo {
    height: 20vh;
    width: 20vw;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: auto;
    margin-top: 0;
}

.botoes{
    padding-right: 40px; 
    display: flex;
    gap: 20px;
}

.botoes button{
    width: 8vw;
    height: 5vh;
    color: white;
    background-color: black;
    border: 10vh;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.5 ease;
}

.botoes button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.cadastro img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
    margin: 0;
    top: 0;
}

.conteudo_cadastro{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 80vh;
    font-size: 30px;
    color: antiquewhite;
    padding-top: 15%;
}

.conteudo_cadastro input{
    width: 25vw;
    height: 5vh;
    border: 2px solid #dce6dd;
    border-radius: 10px;
    text-align: center;
    border-color: black;
}

.conteudo_cadastro input::placeholder{
    color: black;
}

.botao{
    width: 25vw;
    height: 8vh;
    background-color: #000000;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 58%;
    margin-top: 3%;
}

.botao:hover{
    transform: scale(1.10);
}










