*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}

html{
    margin-top: 0;
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    font-size: 20px;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding-right: 150px;
    font-family: fantasy;
}

.opcoes{
   
    display: flex;
    position: relative;
}

.logo {
    height: 20vh;
    width: 20vw;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: auto;
    margin-top: 0;
}

.botoes{
    padding-right: 40px; 
    display: flex;
    gap: 20px;
}

.botoes button{
    width: 8vw;
    height: 5vh;
    color: white;
    background-color: black;
    border: 10vh;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.5 ease;
}

.botoes button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.titulo1{
    font-family: inherit;
    font-size: 200px;
    position: relative;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
    padding-left: 30%;
    padding-top: 10%;
    color: antiquewhite;
  }
  
  .titulo2{
    font-family: inherit;
    font-size: 200px;
    position: relative;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
    padding-right: 30%;
    padding-top: 10%;
    color: antiquewhite;
  }

  .container:hover .titulo1{
    left: -20%;
    transition: all ease-in-out 0.2s;
  }
  
  .container:hover .titulo2{
    right: -20%;
    transition: all ease-in-out 0.2s;
  }


.banner{
    background-image: url('../assets/imgs/socrates4k.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    width: 98vw;
    height: 92vh;
    padding-top: 60px;
    padding-right: 10px;
}

.container_2{
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Camada escura */
        url('../assets/imgs/Foto_Basilio.png') no-repeat center;
    background-size: cover;
    height: 75%;
    opacity: 1;
}



.sobre_mim{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-top: 10%;
    text-align: justify;
}




.slider {
    position: relative;
    width: 100%;
    max-width: 300px; /* Ajuste conforme necessário */
    overflow: hidden;
    margin: auto;
    height: 300px; /* Centraliza o slider */
    margin-left: 50px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 100%; /* Cada cartão ocupa 100% da largura do slider */
    box-sizing: border-box;
}

.card img {
    width: 100%; /* Ajusta a imagem para preencher o cartão */
    height: auto; /* Mantém a proporção */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 24px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

    

.container_3 {
    width: 100%;
    height: 50%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../assets/imgs/Levantando_taca_mundial.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    z-index: 1; /* Alterado para 1 */
}

.card_visao {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Preto quase transparente */
    width: 25%;
    height: 50%;
    margin-left: 0%;
    margin-top: 10%;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 25px;
    font-family: inherit;
    text-align: center; 
    flex-direction: column;
}

.card_missao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Preto quase transparente */
    width: 25%;
    height: 50%;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 25px;
    font-family: inherit;
    text-align: center; 
    flex-direction: column;
}

.card_valores{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Preto quase transparente */
    width: 25%;
    height: 50%;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 25px;
    font-family: inherit;
    text-align: center; 
    flex-direction: column;
}
